{{ ansible_managed | comment }}

deb [signed-by={{ omv_apt_keyrings_path }}/openmediavault-archive-keyring.asc] https://packages.openmediavault.org/public {{ omv_version }} main
# deb [signed-by={{ omv_apt_keyrings_path }}/openmediavault-archive-keyring.asc] https://downloads.sourceforge.net/project/openmediavault/packages {{ omv_version }} main

## Uncomment the following line to add software from the proposed repository.
# deb [signed-by={{ omv_apt_keyrings_path }}/openmediavault-archive-keyring.asc] https://packages.openmediavault.org/public {{ omv_version }}-proposed main
# deb [signed-by={{ omv_apt_keyrings_path }}/openmediavault-archive-keyring.asc] https://downloads.sourceforge.net/project/openmediavault/packages {{ omv_version }}-proposed main

## This software is not part of OpenMediaVault, but is offered by third-party
## developers as a service to OpenMediaVault users.
# deb [signed-by={{ omv_apt_keyrings_path }}/] https://packages.openmediavault.org/public {{ omv_version }} partner
# deb [signed-by={{ omv_apt_keyrings_path }}/openmediavault-archive-keyring.asc] https://downloads.sourceforge.net/project/openmediavault/packages {{ omv_version }} partner
